@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Karla:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0
}

.App {
  text-align: left;
  font-family: 'Karla', sans-serif;
  height: 100vh;
  background: hsl(204, 43%, 93%);
}

.community {
  height: 30vh;
  padding: 1em;
  width: 80%;
  margin: 1em auto;
  background: #fff;
}

.community h2 {
  padding: 1em 0;
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}
.community h3 {
  padding-bottom: 1em;
  color: hsl(71, 73%, 54%);
}
.community p {
  color: hsl(218, 22%, 67%);
  line-height: 2rem;
  font-size: 16px;
}

.price {
  width: 80%;
  margin: auto;
  height: 25vh;
  padding: 1em;
  background: hsl(179, 62%, 43%);
}

.price h2 {
  color: #fff;
  padding: 1em 0;
}

.price h1 {
  color: #fff;
  padding-bottom: .5em;
}

.price span {
  font-size: 16px;
  font-weight: 400;
}

.price p {
  color: #fff;
  font-weight: 400
}

.price button {
  margin: 1em 0;
  width: 100%;
  padding: 1em 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: hsl(71, 73%, 54%);
  box-shadow: 1px 1px 5px #818181;
}

.info {
  width: 80%;
  margin: auto;
  height: 30vh;
  padding: 1em;
  background: hsl(179, 43%, 53%);
}
.info h2 {
  padding: 1em 0;
  color: #fff;
}
.info p {
  color: #fff;
  line-height: 1.5rem;
  font-weight: 400;
}